</body>
<footer>
  <section class="page-section container-fluid" id="footer">
    Alexander Kramer 2021
    <br><br>
    <a href='https://pngtree.com/'>clipart png from pngtree.com</a>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</footer>

</html>
