<section class="page-section">
  <div class="container-fluid">
    <hr>
  </div>
</section>

</body>
<footer>
  <section class="page-section container-fluid" id="footer">
    Copyright Alexander Kramer 2021
    <br>
    <a href='https://pngtree.com/'>clipart png from pngtree.com</a>
  </section>
</footer>

</html>
