<section class="page-section">
  <div class="container-fluid">
    <hr>
  </div>
</section>

</body>
<footer>
  <section class="page-section container-fluid" id="footer">
    Copyright Alexander Kramer 2021
  </section>
</footer>

</html>
