<%- include('partials/header') -%>

<section class='container-fluid'>
  <h2 class='heading heading-md'>Favoriete recepten</h2>

  <%- include('partials/resultsTable') -%>

</section>

<%- include('partials/footer') -%>
