<%- include("partials/header") -%>


<section class="page-section" id="title">

  <div class="container-fluid">
    <div>
      <h1 class="heading heading-main">Sjoukjes recepten<img class="title-image" src="/images/clipart/carrot.png" alt="carrot"></img></h1>
      <h2 class="heading heading-curly">De lekkerste gerechten voor elk moment van de dag</h2>
    </div>
    <div class="container">
      <form class="item" action="/" method="post">
        <div class="input-group rounded">
          <input type="search" name="search" class="search-bar form-control rounded" placeholder="Zoek recepten" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <button type="submit" class="search-btn btn btn-outline-secondary"><i class="fas fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container-fluid">
    <hr>
  </div>
</section>

<section class="page-section container-fluid">
  <div class="row">
    <div class="card-column col-lg-4 col-md-6">
      <div class="card border-success">
        <img src="/images/chili_met_kip_en_cashewnoten.jpg" class="recipe-image card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="card-column col-lg-4 col-md-6">
      <div class="card border-success">
        <img src="/images/chili_met_kip_en_cashewnoten.jpg" class="recipe-image card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="card-column col-lg-4 col-md-6">
      <div class="card border-success">
        <img src="/images/chili_met_kip_en_cashewnoten.jpg" class="recipe-image card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-success">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
