<%- include("partials/header") -%>

<section class="container-fluid">
  <% if (searchValue == ""){ %>
  <% header = "Alle recepten" %>
  <% }else{ %>
    <% header = "Recepten met " + searchValue %>
  <% } %>
  <h1 class="heading-md"><%= header %></h1>
  <ul class="list-group">
    <% searchResult.forEach(recepe => { %>
      <li class="list-group-item"><%= recepe.name %></li>
    <% }) %>
  </ul>
</section>

<%- include("partials/footer") -%>
