<%- include('partials/header') -%>

<section class='container-fluid'>
  <% if (typeof searchValue == 'undefined' || searchValue == ""){ %>
  <% header = "Alle recepten" %>
  <% } else if (searchResult == ""){ %>
  <% header = "Geen recepten gevonden met " + searchValue %>
  <% } else { %>
  <% header = "Recepten met " + searchValue %>
  <% } %>
  <h2 class='heading heading-md'><%= header %></h2>

<%- include('partials/resultsTable') -%>

</section>

<%- include('partials/footer') -%>
