body {
  font-family: 'Karla', sans-serif;
  text-align: center;
}

hr {
  border-style: dotted;
  border-width: 10px 0 0 0;
  color: #c3c9d6;
  width: 8%;
}

.green-section {
  background-color: #c7ffd8;
  color: #161d6f;
}

.blue-section {
  background-color: #98ded9;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  color: white;
  padding: 5%;
  /* overflow: auto; */
}

.container-fluid {
  padding: 5% 7%;
}

.heading-main {
  color: #161d6f;
  font-family: 'Merriweather', serif;
  font-size: 5rem;
  line-height: 1.5;
}

.heading-curly {
  color: #98ded9;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  line-height: 1.5;
}

.heading-md {
  display: block;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 1.5;
}



/* #demo-recepes {
  background-color: #98ded9;
  height: 600px;
} */
#recepe-carousel {
  height: 50%;
}

#demo-recepes {
  background-color: #70af85;
  border: ridge white;
  border-width: 15px;
  color: white;
  /* margin: 5%; */
  padding: 0;
}

.carousel-image {
  height: auto;
  width: 40%;
}

.title-image{
  width: 10%;
}

#search-addon{
  padding: 0;
}
