body {
  font-family: 'Karla', sans-serif;
  text-align: center;
  background-color: #fbfffb;
  color: #206a5d;
}

hr {
  border-style: dotted;
  border-width: 10px 0 0 0;
  color: #c3c9d6;
  width: 8%;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  font-size: 1.7vw;
}

th, td {
  color: #206a5d;
  font-size: 1.7vw;
}

a {
  color: #206a5d;
}

.icon-red {
  color: #bd2000;
}

.search-bar, .search-btn {
  box-shadow: -1px 1px 2px #888;
}

.card-column {
  padding: 5%;
}

/* NAVBAR SECTION */
.navbar-brand {
  color: #206a5d;
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  font-weight: bold;
  padding: 0 20px;
}

.nav-link {
  font-size: 1.5rem;
}

.navbar-custom {
  background-color: #5e9e82;
  /* background-image: none; */
  /* background-repeat: no-repeat; */
  border-bottom: solid grey 1px;
  padding: 0;
}

.container-fluid {
  padding: 2% 10%;
}

.title-image {
  width: 10vw;
}

.heading {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

.heading-main {
  font-size: 5vw;
}

.heading-curly {
  color: #98ded9;
  font-family: 'Dancing Script', cursive;
  font-size: 4vw;
}

.heading-md {
  font-size: 3vw;
  padding: 10px;
}

.heading-sm {
  font-size: 2vw;
  padding: 10px;
}

.recipe-section {
  text-align: left;
}

#search-addon {
  padding: 0;
}

#footer {
  background-color: #5e9e82;
  border-top: solid grey 1px;
  color: #206a5d;
}
