body {
  font-family: 'Karla', sans-serif;
  text-align: center;
  background-color: #c7ffd8;
  color: #161d6f;
}

hr {
  border-style: dotted;
  border-width: 10px 0 0 0;
  color: #c3c9d6;
  width: 8%;
}

li{
  font-size: 1.5rem;
}

th,td{
  color: #161d6f;
}

/* NAVBAR SECTION */

.navbar-brand {
  color: #161d6f;
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  font-weight: bold;
  padding: 0 20px;
}

.nav-link {
  font-size: 1.5rem;
}

.navbar-custom {
  background-color: #70af85;
  background-image: none;
  background-repeat: no-repeat;
  padding: 0;
 }

.container-fluid {
  padding: 2% 10%;
}

.heading-main {
  color: #161d6f;
  font-family: 'Merriweather', serif;
  font-size: 5rem;
  line-height: 1.5;
}

.title-image {
  width: 10%;
}

.heading-curly {
  color: #98ded9;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  line-height: 1.5;
}

.heading-md {
  display: block;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 1.5;
}

#recepe-carousel {
  height: 50%;
}

#demo-recepes {
  background-color: #70af85;
  border: ridge white;
  border-width: 15px;
  color: white;
  /* margin: 5%; */
  padding: 0;
}

.carousel-image {
  height: auto;
  width: 40%;
}

#search-addon {
  padding: 0;
}

#footer {
  background-color: #70af85;
  color: #161d6f;
}
